.preview {
  margin-bottom: 50px;
}
.wrapper {
  margin-left: auto;
  margin-right: auto;
}
.seperator {
  height: 1px;
  background-color: #555;
  margin: 50px auto 50px auto;
  max-width: 500px;
  width: 100%;
}

.highlight {
  border: 2px dashed #555;
  border-radius: 5px;
}

.testimonial {
  padding: 5px;
  margin-bottom: 10px;
}

.testimonial__text {
  font-weight: 300;
  color: #555;
  text-align: center;
  font-size: 16px;
}
.testimonial__text:before,
.testimonial__text:after {
  content: '"';
}

.testimonial__meta {
  text-align: center;
}
.testimonial__meta .company {
  display: none;
}
.testimonial__meta img {
  max-width: 50px;
  width: 100%;
  height: auto;
  border-radius: 50%;
  border: 1px solid #999;
}
.testimonial__image {
  width: 50px;
  display: inline-block;
}
.testimonial__author {
  display: inline-block;
  vertical-align: top;
}
.testimonial__author h3 {
  font-size: 18px;
  color: #555;
  font-weight: 300;
  margin: 15px 0 0 0;
}

/*
 The media query part.
*/
.mod:before {
   display: none;
}

/* set up some element query breakpoints for mod-foo */
.mod-testimonial:before {
  content: "300 500 700";
}
.mod-testimonial[data-minwidth~="300"] .testimonial__meta .company {
  display: block;
}
.mod-testimonial[data-minwidth~="500"] .testimonial__text {
  font-size: 27px;
}
.mod-testimonial[data-minwidth~="500"] .testimonial__image {
  max-width: 70px;
}
.mod-testimonial[data-minwidth~="500"] .testimonial__image img {
  max-width: 70px;
}
.mod-testimonial[data-minwidth~="500"] .testimonial__author h3 {
  margin: 15px 0 0 0;
}
.mod-testimonial[data-minwidth~="700"] .testimonial__text {
  font-size: 35px;
}



