---
title: Element Queries
article: http://example.com
jquery: 2.1.0
custom_style: demo
---


<ul class="controls radio group">
  <li><input id="radio1" type="radio" name="width" value="200"><label for="radio1">200px</label></li>
  <li><input id="radio2" type="radio" name="width" value="500" checked="checked"><label for="radio2">500px</label></li>
  <li><input id="radio3" type="radio" name="width" value="700"><label for="radio3">700px</label></li>
</ul>
<section id="variable-width" class="wrapper" style="width: 500px;">
  {{> testimonial}}
</section>



<script type="text/javascript">
(function($){
  $('.controls.radio input').change(function() {
    $('#variable-width').width(this.value);
    if (document.createEvent) {
      var e = document.createEvent('HTMLEvents');
      e.initEvent('resize', true, false);
      document.body.dispatchEvent(e);
    } else if (document.createEventObject) {
      document.body.fireEvent('onresize');
    }
  });
})(jQuery);  

</script>
<script type="text/javascript">
/*
  An element query experiment by @scottjehl
*/
(function( w ){
	function updateModAttributes(){
		var mods = w.document.querySelectorAll( ".mod" );
		for( var m = 0; m < mods.length; m++ ){
			var mod = mods[ m ],
				breakpoints = w.getComputedStyle( mod, ":before" ).getPropertyValue( "content" ),
				widths = breakpoints.replace(/[^\d ]/g,"").split( " "),
				modWidth = mod.clientWidth,
				minWidths = [];

			for( var i = 0; i < widths.length; i++ ){
				if( parseFloat( widths[ i ] ) <= modWidth ){
					minWidths.push( widths[ i ] );
				}
			}
			mod.setAttribute( "data-minwidth", minWidths.join( " " ) );
		}
	}

	w.addEventListener( "load", updateModAttributes, false );
	w.addEventListener( "resize", updateModAttributes, false );
})( this );
</script>