<div class="testimonial mod mod-testimonial">
  <h2 class="testimonial__text testimonial__el">This product is very good, they really have a good solution and i enjoy it!</h2>
  <footer class="testimonial__meta">
    <img class="testimonial__image" src="anders.png">
    <div class="testimonial__author">
      <h3>Anders</h3>
      <span class="company">CEO at Fictional Inc.</span>
    </div>
  </footer>
</div>